/*.reveal .slide-number {
    bottom: 4.5em;
    right: 4em;
}*/

.reveal .slide-number {
  position: fixed;
  display: block;
  right: 8px;
  bottom: 8px;
  z-index: 31;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1;
  color: #fff;
  background-color: #0c5b7a;
  padding: 5px;
}


.reveal p {
  margin: 0px 0;
  line-height: 1.3;
}

.reveal ul,
.reveal ol {
  line-height: 1.3;
}

.reveal .slides > section,
.reveal .slides > section > section {
    padding: 0;
}
.reveal .slides {
    height: 100% !important;
    top: 0 !important;
    margin-top: 0 !important;
  }
  
  .reveal .slides>section {
    min-height: 90% !important;
    top: auto !important;
  }
  
  .reveal .slides>section>section {
    min-height: 100% !important;
  }

  /*.reveal div {
    margin: auto;
  }*/

.reveal .slides > section img {
  max-width: 90%;
  height: auto; 
  max-height: 75vh; 
  border : 0px;
  box-shadow: 0 0px 0px rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0); 
}

.reveal .slides > section svg {
  max-width: 90vmin;
  width:100%;
  height: auto;
  max-height: 75vh;
  border : 0px;
  box-shadow: 0 0px 0px rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0); 
}
.grid-wrapper .leftsmall div,
.grid-wrapper .rightsmall div{
  width:100%;
  height: 100%;
}

.grid-wrapper{
  width: 100vw;
  height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1%;
    grid-template-rows: repeat(10, 1fr);
  }

  .grid-wrapper > header {
    grid-column: 1 / 11;
    grid-row-start: 1;
    font-size: 1em;
    align-self: center;
    grid-row-end: 1;
    height: 100%;
    width: 100%;
  }

  .grid-wrapper > footer {
    grid-column: 1 / 11;
    grid-row-start: 10;
    grid-row-end: 10;
    font-size: 0.4em;
    align-self: end;
    height: 100%
  }

  .grid-wrapper > .full {
    grid-column: 1 / 11;
    grid-row: 2 / 10;
    align-self: center;
  
  }

  .grid-wrapper > .full > div {
    margin-top: 5vmin;
    max-height: 75vmin;
  }

  .grid-wrapper > .left {
    grid-column: 1 / 6;
    grid-row: 2 / 10;
    align-self: center;
  }

  .grid-wrapper > .left >* {
    margin-bottom : 1vmin;
  }

  .grid-wrapper > .right {
    grid-column: 6 / 11;
    grid-row: 2 / 10;
    align-self: center;
  }

  .grid-wrapper > .right >* {
    margin-bottom : 1vmin;
  }

  .grid-wrapper > .uple {
    grid-column: 1 / 6;
    grid-row: 2 / 5;
    align-self: center;
  }
  .grid-wrapper > .dole {
    grid-column: 1 / 6;
    grid-row: 6 / 10;
    align-self: center;
  }

  .grid-wrapper > .upri {
    grid-column: 6 / 11;
    grid-row: 2 / 5;
    align-self: center;
  }

  .grid-wrapper > .dori {
    grid-column: 6 / 11;
    grid-row: 6 / 10;
    align-self: center;
  }

 .grid-wrapper > .grid-big {
   grid-column: 1 / 11;
   grid-row: 2/7;
 }

 .grid-wrapper > .grid-small {
  grid-column-start: 1 ;
  grid-column-end: 11;
  grid-row: 7/10;
}

.grid-wrapper > .leftsmall {
  grid-column-start: 1 ;
  grid-column-end: 6;
  grid-row: 7/10;
}

.grid-wrapper > .rightsmall {
  grid-column-start: 6 ;
  grid-column-end: 11;
  grid-row: 7/10;
}

  .reveal section .grid-wrapper p {
    text-align: center;
  }

  .reveal .title {
    background-color: #0c5b7a;
    color:aliceblue;
    font-size: 4.5vmax;
 }

 .reveal section .blue-block .multiligne {
   text-align: justify;
   padding : 3vmin 3vmin 3vmin 3vmin;
 }

 .reveal section .grid-wrapper li {
    padding: 2% 2% 2% 2%;
 }
 .reveal section .grid-wrapper .shortli li{
  padding: 1% 1% 1% 1%;
}

 .reveal .redtitle {
  background-color: #cc2d18;
  color:#fae8e6;
  font-size: 4.5vmax;
}

.reveal .greentitle {
  background-color: #8e9c48;
  color:lightyellow;
  font-size: 4.5vmax;
}


  .reveal .blue-block {
    background-color: #b2d5db;
    box-shadow: 0 0 10px aliceblue;
    color : black;
    font-size: 3vmin !important;
    margin: auto auto 2vmin auto;
    max-width: 60%;
    text-align:justify;
    
  }
  .reveal .left .blue-block,
  .reveal .right .blue-block {
    max-width: 90%;
  }

  .reveal .blue-block header {
    text-align:left;
    background-color: #0c5b7a;
    color:aliceblue;
    top: 0;
    width: calc(100% - 3vmin);
    height: 10%;
    font-size: 2.3vmax;
    padding-left: 3vmin;
    
  }

  .reveal .blue-block header+*{
    padding : 1vmin;
  }

  .reveal .blue-block ul,
  .reveal .blue-block ol {
    color :#0c5b7a; 
    vertical-align: bottom;
    list-style-position: inside;
    padding-left : 4.5vmin;
    text-align:justify;
    
  }
  .reveal .blue-block ul
  {
    list-style-type: square;
  }

  .reveal .blue-block ul span,
  .reveal .blue-block ol span {
      color : black;
      vertical-align: middle;
  }

  .reveal .green-block {
    background-color: #e3ebc7;
    box-shadow:0 0 10px lightyellow;
    color : black;
    font-size: 3vmin !important;
    margin: auto auto 2vmin auto;
    max-width: 60%;
    text-align:justify;
  }
  .reveal .left .green-block,
  .reveal .right .green-block {
    max-width: 90%;
  }

  .reveal .green-block header {
    text-align:left;
    background-color: #8e9c48;
    color: lightyellow;
    top: 0;
    width: calc(100% - 3vmin);
    height: 10%;
    font-size: 2.3vmax ;
    padding-left : 3vmin;
  }

  .reveal .green-block header+*{
    padding : 1vmin;
  }

  .reveal .green-block ul,
  .reveal .green-block ol {
    color :#8e9c48; 
    vertical-align: bottom;
    list-style-position: inside;
    padding-left : 4.5vmin;
    text-align:justify;
    
  }

  .reveal .green-block ul {
    list-style-type: square;
  } 
  .reveal .green-block ul span,
  .reveal .green-block ol span {
      color : black;
      vertical-align: middle;
  }

  .reveal section .green-block .multiligne {
    text-align: justify;
    padding : 3vmin 3vmin 3vmin 3vmin;
  }

  .reveal .red-block {
    background-color: #f9bdbb;
    box-shadow: 0 0 10px #fae8e6;
    color : black;
    font-size: 3vmin !important;
    max-width: 60%;
    margin: auto auto 2vmin auto;
    text-align:justify;
  }

  .reveal .left .red-block,
  .reveal .right .red-block {
    max-width: 90%;
  }

  .reveal .red-block header {
    text-align:left;
    background-color: #cc2d18;
    color:#fae8e6;
    top: 0;
    width: calc(100% - 3vmin);
    height: 10%;
    font-size: 2.3vmax;
    padding-left : 3vmin;

    
  }

  .reveal .red-block header+*{
    padding : 1vmin;
  }

  .reveal  .red-block ul,
  .reveal  .red-block ol {
    color :#cc2d18; 
    vertical-align: bottom;
    list-style-position: inside;
    padding-left : 4.5vmin;
    text-align:justify;
    
  }

  .reveal  .red-block ul
  {
    list-style-type: square;
    
  }
  .reveal .red-block ul span,
  .reveal .red-block ol span {
      color : black;
      vertical-align: middle;
  }

.reveal .slides section table {
  font-size:4vmin;
}
.reveal .slides section table td {
  text-align:center;
}
#small-table-font{
  font-size : 2.3vmin;
}
   section > .sommaire{
     margin-top:3vmin;
   }

  .sommaire > ol { 
    color :#0c5b7a; 
    vertical-align: bottom;
    list-style-position: inside;
    width: 80vw;
    padding-left: 25vw;
    font-size: 5vmin;
  }
  .sommaire > ol span {
    color : rgba(57, 64, 70, 0.836);
    vertical-align: middle;
  }
  .sommaire > ol .this {
    color : #0c5b7a;
    vertical-align: middle;
    text-decoration: underline;
    text-decoration-line: 4px underline #0c5b7a ;
  }
  .sommaire > ol >li {
      padding: 1.5vmin  1.5vmin 1.5vmin 1.5vmin;
  }

  .sommaire ul.mini {
    padding: 0 0 0 0 ;
    line-height: 1;
    display: none;
  }
  .sommaire ul.mini + li{
    padding-top: .5%;
  }

  .sommaire ul.mini li {
    font-size: 3.5vmin;
  }
.grid-wrapper .counter{
  grid-area: 4 / 1 / 6 / 2;
  align-self: center;
}

  #init table td {
    text-align: left;
  }

  #init .leftsmall p,
  #init .rightsmall p {
    font-size: 5vmin;

  }
  .reveal .grid-wrapper .ref {
    text-align: right;
    font-size: 2vmin;
    grid-area: 9 / 1 / 9 / 10;
    align-self: end;
  }


  .reveal footer .ref {
    text-align: right;
    padding-right: 15vmin;
    
  }
